<!DOCTYPE html>
<html lang="en">
<head>
  <h1>Tiny App</h1>
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
  <div class="form-group">
    <a href="/register" ><h2 class="text-primary">register here :</h2></a>
        <a href="/login"><h2 class="text-primary">login :</h2></a>
      </div>
      <div class="form-group mb-2">
          <%if(email){%>
            
          <form class="form-inline" action="/logout" method="POST">
            <button type="submit" class="btn btn-success">logout</button>
          <%}%>
            <label> Login as ->   <%=email%></label>
            <br></br>
              
          </form>
      </div>
    
   
    
</body>
</html>