<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% include ./partials/_header.ejs %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body style="font-size:20px; padding:50px;">
    <p><a href ="#">create a new tiny url</a></p>
    <h3> MyURLs :
        <ul><% for(const i in URL){ %>
            <li><%=i%> - <%=URL[i] %></li>
       <%}%>
    </ul>
    </h3>
</body>
</html>