<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <% include ./partials/_header.ejs %>
    <label>Login as 🔌  <%= email %></label>
    <h3>Tiny URL for <%= longURL%></h3>
    <h3><%=shortURL%></h3>
    <form class="form-inline" action="/urls/" method="GET">
      <button type="submit" class="btn btn-success">Back</button>
      <br></br>
    </form>
    <form class="form-inline" action="/logout" method="POST">
      <button type="submit" class="btn btn-success">logout</button>
      <br></br>
    </form>

    <form class="form-inline" action="/urls/<%=shortURL%>" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Update the URL:</label>
          <input class="form-control" type="text" name="longURL" placeholder="" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    
</body>
</html>